.enbutton {
	display: inline-block;
  margin: auto;
  font-size: 18px;
	padding: 15px 30px;
  background-color: lightseagreen;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #dcdcdc;
}
.enbutton:hover {
	cursor: pointer;
}
.enbutton:focus {
  outline: none
}