.enbutton {
  margin: auto;
	margin-top: 20px;
	width: 100px;
	height: 100px;
	line-height: 100px;
  font-size: 18px;
  border: none;
  background-color: lightseagreen;
  color: white;
  border-radius: 100%;
  box-shadow: 1px 1px 10px #dcdcdc;
	vertical-align: middle;
}
.enbutton:hover {
	cursor: pointer;
}
.enbutton:focus {
  outline: none
}