.App {
	min-height: 100%;
	padding-bottom: 60px;
	position: relative;
	font-family: Roboto, sans-serif;
}

header, footer{
	text-align: center;
	background-color: lightseagreen;
	padding: 20px 10px;
	box-shadow: 1px 1px 10px #dcdcdc;
	color: white;
	position: relative;
}

a {
	text-decoration: none;
}

.App header h1,
.App header h2{
	color: white;
	padding: 0;
	margin: 0;
}
.App header{
	font-family: "Josefin Sans", sans-serif;
	padding-bottom: 10px;
	padding-top: 0;
}
.App header h1 {
	font-size: 100px;
	font-weight: 100;
}
.App header h2{
	font-size: 20px;
	font-weight: 300;
}
.App header ul{
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.App header li{
	list-style-type: none;
	margin: 0 2px;
}

.App footer{
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	padding: 5px;
}

.App .main {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

footer .fb-button {
	margin-top: 10px;
	color: darkslategray;
}

footer .fb-button:hover {
	opacity: .5;
}